.app-height {
    height: 100vh;
}

.bg-gaming {
    background-image: url('./assets/bg-gaming.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p, span, input {
    font-family: 'Roboto', sans-serif;
}

.bg-secondary {
    background-color: rgba(55, 65, 81, 1) !important;
}

.alert-secondary {
    background-color: rgba(209, 213, 219, 1);
}

.btn-dark {
    background-color: rgba(31, 41, 55, 1);
}

.btn-primary {
    background-color: #55ffe2;
    border: none;
}

.btn-primary:hover {
    background-color: #48d1b9;
}

.btn-danger {
    background-color: #ff3b93;
    border: none
}

.btn-danger:hover {
    background-color: #d9337e;
}